{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/bootstrap/assets/materialize/css/materialize.min.css' %}"
          media="screen,projection"/>
    <!-- Bootstrap Styles-->
    <link href="{% static '/bootstrap/assets/css/bootstrap.css' %}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="{% static '/bootstrap/assets/css/font-awesome.css' %}" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="{% static '/bootstrap/assets/js/morris/morris-0.4.3.min.css' %}" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="{% static '/bootstrap/assets/css/custom-styles.css' %}" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="{% static '/bootstrap/assets/js/Lightweight-Chart/cssCharts.css' %}">


    <link href="{% static 'filetree/jqueryFileTree.css' %}" rel="stylesheet" type="text/css" media="screen"/>

    <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css"/>

    <!--footable css-->
    <link href="{% static '/footable/css/footable.standalone.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static '/footable/css/footable.standalone.min.css' %}" rel="stylesheet" type="text/css"/>

</head>

<body>
<div class="wrapper">
    <div class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse"
                    data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand waves-effect waves-dark" href=""><i class="large material-icons">insert_chart</i>
                <strong>LAMBDA</strong></a>

            <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown4"><i
                    class="fa fa-envelope fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown3"><i
                    class="fa fa-tasks fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown2"><i
                    class="fa fa-bell fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i
                    class="fa fa-user fa-fw"></i> <b>XDZ</b> <i
                    class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#"><i class="fa fa-user fa-fw"></i> My Profile</a>
        </li>
        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
    </ul>
    <ul id="dropdown2" class="dropdown-content w250">
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-comment fa-fw"></i> New Comment
                    <span class="pull-right text-muted small">4 min</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted small">12 min</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                    <span class="pull-right text-muted small">4 min</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-tasks fa-fw"></i> New Task
                    <span class="pull-right text-muted small">4 min</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                    <span class="pull-right text-muted small">4 min</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <strong>See All Alerts</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
    <ul id="dropdown3" class="dropdown-content dropdown-tasks w250">
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 1</strong>
                        <span class="pull-right text-muted">60% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete (success)</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 2</strong>
                        <span class="pull-right text-muted">28% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28"
                             aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                            <span class="sr-only">28% Complete</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 3</strong>
                        <span class="pull-right text-muted">60% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 4</strong>
                        <span class="pull-right text-muted">85% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85"
                             aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                            <span class="sr-only">85% Complete (danger)</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
    </ul>
    <ul id="dropdown4" class="dropdown-content dropdown-tasks w250">
        <li>
            <a href="#">
                <div>
                    <strong>John Doe</strong>
                    <span class="pull-right text-muted">
                                            <em>Today</em>
                                        </span>
                </div>
                <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <strong>John Smith</strong>
                    <span class="pull-right text-muted">
                                            <em>Yesterday</em>
                                        </span>
                </div>
                <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <strong>John Smith</strong>
                    <span class="pull-right text-muted">
                                            <em>Yesterday</em>
                                        </span>
                </div>
                <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <strong>Read All Messages</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
    <!--/. NAV TOP  -->

    <div class="navbar-default navbar-side" role="navigation"
         style="height: 90%; overflow: scroll; overflow-x: scroll;">
        <div class="sidebar-collapse">
            <div id="fileTreeDemo_1" class="treeclass" style="left : 0px">
                {% csrf_token %}
            </div>
        </div>
    </div>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper">
        <div class="header">
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td style="width: 15%; padding: 10px 40px;">Plan<br/>
                        Plan Name：<br/>
                        Rx Dose:
                    </td>
                    <td style="width: 85%; padding: 10px 40px;">Patient<br/>
                        <table style="width: 100%;">
                            <tbody>
                            <tr>
                                <td style="width: 5%;">Name:</td>
                                <td style="width: 45%;" , id="patientName"></td>
                                <td style="width: 5%;">ID:</td>
                                <td style="width: 45%;" , id="patientID"></td>
                            </tr>
                            <tr>
                                <td style="width: 5%;">Sex:</td>
                                <td style="width: 45%;" , id="patientSex"></td>
                                <td style="width: 5%;">DOB:</td>
                                <td style="width: 45%;" , id="patientDOB"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="page-inner">
            <div class="fixed-action-btn horizontal click-to-toggle">
                <a class="btn-floating btn-large red">
                    <i class="material-icons">menu</i>
                </a>
                <ul>
                    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                </ul>
            </div>

            <table style="width: 100%;">
                <tbody>
                <td style="width: 20%;">
                    <div class="tab">
                        <button class="tablinks1" onclick="openTab1(event, 'Structure')" id="defaultOpen1">Structure
                        </button>
                        <button class="tablinks1" onclick="openTab1(event, 'Isodose')">Isodose</button>
                    </div>

                    <!-- Tab content -->
                    <div id="Structure" class="tabcontent1" style='overflow:auto; width:100%;height:400px;'>
                    </div>
                    <div id="Isodose" class="tabcontent1" style='overflow:auto; width:100%;height:400px;'>
                        <h3>Isodose</h3>
                        <p>Display Isodose.</p>
                    </div>
                </td>
                <td style="width: 80%;">
                    <div class="tab">
                        <button class="tablinks2" onclick="openTab2(event, 'Radiomics')" id="defaultOpen2">Radiomics
                        </button>
                        <button class="tablinks2" onclick="openTab2(event, 'Dicom')">Dicom</button>
                        <button class="tablinks2" onclick="openTab2(event, 'CT')">CT</button>
                    </div>

                    <!-- Tab content -->
                    <div id="Radiomics" class="tabcontent2" style='overflow:auto; width:100%;height:400px;'>
                        <div id="outputRadiomics"></div>
                    </div>
                    <div id="Dicom" class="tabcontent2" style='overflow:auto; width:60%;height:400px;'>
                        <h3>Dicom Info</h3>
                        <p>Display Dicom Info.</p>

                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Collapsible Group Item #1
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <table id="accordion-example-1" class="table" data-paging="true"
                                               data-filtering="true" data-sorting="true"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="CT" class="tabcontent2" style='overflow:auto; width:100%;height:400px;'>
                        <h3>CT Image</h3>
                        <p>Display CT Image.</p>
                    </div>
                </td>
                </tr>
                </tbody>
            </table>


            <footer><p>Copyright &copy; 2018. Global Oncology One.inc All rights reserved.
            </p>


            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="{% static '/bootstrap/assets/js/jquery-1.10.2.js' %}"></script>


<script src="{% static 'filetree/jquery.easing.js' %}"></script>
<script src="{% static 'filetree/jqueryFileTree.js' %}"></script>
<script src="{% static 'custom.js' %}"></script>

<!-- Bootstrap Js -->

<script src="{% static '/bootstrap/assets/js/bootstrap.min.js' %}"></script>


<!-- Metis Menu Js -->
<script src="{% static '/bootstrap/assets/js/jquery.metisMenu.js' %}"></script>
<!-- Morris Chart Js -->
<script src="{% static '/bootstrap/assets/js/morris/raphael-2.1.0.min.js' %}"></script>
<script src="{% static '/bootstrap/assets/js/morris/morris.js' %}"></script>


<script src="{% static '/bootstrap/assets/js/easypiechart.js' %}"></script>
<script src="{% static '/bootstrap/assets/js/easypiechart-data.js' %}"></script>

<script src="{% static '/bootstrap/assets/js/Lightweight-Chart/jquery.chart.js' %}"></script>

<!-- footable Js -->
<script src="{% static '/footable/js/footable.js' %}"></script>
<script src="{% static '/footable/js/footable.min.js' %}"></script>


<!-- Custom Js -->
<script src="{% static '/bootstrap/assets/js/custom-scripts.js' %}"></script>


</body>

</html>