# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
@EXPLICIT
https://repo.anaconda.com/pkgs/main/win-64/_tflow_190_select-0.0.1-gpu.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/_tflow_select-2.1.0-gpu.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/blas-1.0-mkl.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/ca-certificates-2018.03.07-0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/cudatoolkit-9.0-1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/icc_rt-2017.0.4-h97af966_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/intel-openmp-2019.0-118.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/vs2015_runtime-14.15.26706-h3a45250_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/cudnn-7.1.4-cuda9.0_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/mkl-2019.0-118.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/vc-14.1-h0510ff6_4.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/zlib-1.2.11-vc14_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/hdf5-1.10.2-hac2f561_1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/icu-58.2-ha66f8fd_1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/jpeg-9b-hb83a4c4_2.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/libpng-1.6.35-h2a8f88b_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/libprotobuf-3.6.1-h7bd577a_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/mysql-connector-c-6.1.11-h33f27b4_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/openssl-1.0.2p-hfa6e2cd_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/python-3.6.6-he025d50_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/sqlite-3.25.3-he774522_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/tk-8.6.8-hfa6e2cd_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/yaml-0.1.7-hc54c509_2.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/astor-0.7.1-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/certifi-2018.10.15-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/cloudpickle-0.6.1-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/cython-0.29-py36h6538335_1000.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/dask-core-0.20.1-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/decorator-4.3.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/freetype-2.9.1-ha9979f8_1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/gast-0.2.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/kiwisolver-1.0.1-py36h6538335_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/libtiff-4.0.9-h36446d0_2.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/mysqlclient-1.3.13-py36hfa6e2cd_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/numpy-base-1.15.4-py36h8128ebf_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/olefile-0.46-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pydicom-1.2.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pyparsing-2.3.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pytz-2018.7-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/qt-5.9.6-vc14h1e9a669_2.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/sip-4.19.8-py36h6538335_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/six-1.11.0-py36_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/termcolor-1.1.0-py36_1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/toolz-0.9.0-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/tornado-5.1.1-py36hfa6e2cd_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/werkzeug-0.14.1-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/wincertstore-0.2-py36h7fe50ca_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/xlrd-1.1.0-py36_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/absl-py-0.6.1-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/cycler-0.10.0-py36h009560c_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/django-1.11.10-py36hd476221_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pillow-5.3.0-py36hdc69c19_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/protobuf-3.6.1-py36h33f27b4_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pyqt-5.9.2-py36h6538335_2.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/python-dateutil-2.7.5-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/pyyaml-3.13-py36hfa6e2cd_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/setuptools-40.5.0-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/wxpython-4.0.3-py36h6538335_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/grpcio-1.14.1-py36h5c4b210_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/markdown-3.0.1-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/networkx-2.2-py36_1.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/wheel-0.32.2-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pip-18.1-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/h5py-2.8.0-py36h3bdd7fb_2.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/imageio-2.4.1-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/keras-applications-1.0.6-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/matplotlib-3.0.1-py36hc8f65d3_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/mkl_fft-1.0.6-py36hdbbee80_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/mkl_random-1.0.1-py36h77b88f5_1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/numpy-1.15.4-py36ha559c80_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/pywavelets-1.0.1-py36h8c2d366_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/scipy-1.1.0-py36h4f6bf74_1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/tensorboard-1.12.0-py36he025d50_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/keras-preprocessing-1.0.5-py36_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/scikit-image-0.14.0-py36h6538335_1.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/keras-base-2.2.4-py36_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/tensorflow-base-1.12.0-gpu_py36h6e53903_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/tensorflow-1.12.0-gpu_py36ha5f9131_0.tar.bz2
https://repo.anaconda.com/pkgs/main/win-64/tensorflow-gpu-1.12.0-h0d30ee6_0.tar.bz2
